menu: [
  label: 'Packages'
  submenu: [
    label: 'Plantuml Preview'
    submenu: [
      {label: 'Toggle Preview', command: 'atom-plantuml-preview:toggle'}
    ]
  ]
]

'context-menu':
  '.atom-plantuml-preview': [
    {label: 'Save As svg', command: 'atom-plantuml-preview:save-as-svg'}
    {label: 'Save As png', command: 'atom-plantuml-preview:save-as-png'}
  ]
  '.tree-view .file .name[data-name$=\\.plantuml]':
    [{label: 'Plantuml Preview', command: 'atom-plantuml-preview:toggle'}]
  '.tree-view .file .name[data-name$=\\.uml]':
    [{label: 'Plantuml Preview', command: 'atom-plantuml-preview:toggle'}]
  '.tree-view .file .name[data-name$=\\.puml]':
    [{label: 'Plantuml Preview', command: 'atom-plantuml-preview:toggle'}]
